version: "3.8"

services:
  localstack:
    container_name: localstack
    image: localstack/localstack:2.0.0
    ports:
      - "127.0.0.1:5001:5001"
    volumes:
      - "./docker/uid2-core/src/init-aws.sh:/etc/localstack/init/ready.d/init-aws-core.sh"
      - "./docker/uid2-core/src/s3/core:/s3/core"
      - "./docker/uid2-core/src/kms/seed.yaml:/init/seed.yaml"
      - "./docker/uid2-optout/src/init-aws.sh:/etc/localstack/init/ready.d/init-aws-optout.sh"
      - "./docker/uid2-optout/src/s3/optout:/s3/optout"
    environment:
      - GATEWAY_LISTEN=0.0.0.0:5001
      - KMS_PROVIDER=local-kms
      - LOCALSTACK_HOST=localstack:5001
      - SERVICES=s3,sqs,kms
      - DEFAULT_REGION=us-east-1
      - AWS_DEFAULT_REGION=us-east-1
      - SQS_ENDPOINT_STRATEGY=off
    healthcheck:
      test: awslocal s3api wait bucket-exists --bucket test-core-bucket
        && awslocal s3api wait bucket-exists --bucket test-optout-bucket
        && awslocal sqs get-queue-url --queue-name optout-queue
      interval: 5s
      timeout: 10s
      retries: 6
    networks:
      - e2e_default

  core:
    container_name: core
    image: ghcr.io/iabtechlab/uid2-core:latest
    ports:
      - "127.0.0.1:8088:8088"
      - "127.0.0.1:9088:9088"
      - "127.0.0.1:5088:5005"
    volumes:
      - ./docker/uid2-core/conf/default-config.json:/app/conf/default-config.json
      - ./docker/uid2-core/conf/local-e2e-docker-config.json:/app/conf/local-config.json
      - ./docker/uid2-core/conf/operator/operator-config.json:/app/conf/operator/operator-config.json
    depends_on:
      localstack:
        condition: service_healthy
    healthcheck:
      test: wget --tries=1 --spider http://localhost:8088/ops/healthcheck || exit 1
      interval: 10s
    networks:
      - e2e_default

  optout:
    container_name: optout
    image: ghcr.io/iabtechlab/uid2-optout:latest
    ports:
      - "127.0.0.1:8081:8081"
      - "127.0.0.1:8082:8082"
      - "127.0.0.1:5090:5005"
    volumes:
      - ./docker/uid2-optout/conf/default-config.json:/app/conf/default-config.json
      - ./docker/uid2-optout/conf/local-e2e-docker-config.json:/app/conf/local-config.json
      - ./docker/uid2-optout/mount/:/opt/uid2/optout/
    depends_on:
      localstack:
        condition: service_healthy
      core:
        condition: service_healthy
    healthcheck:
      test: wget --tries=1 --spider http://localhost:8081/ops/healthcheck
        && wget --tries=1 --spider http://localhost:8082/ops/healthcheck || exit 1
      interval: 5s
      timeout: 10s
      retries: 12
    networks:
      - e2e_default

  publicoperator:
    container_name: public_operator
    image: ghcr.io/iabtechlab/uid2-operator:latest
    profiles:
      - public
    ports:
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:9080:9080"
      - "127.0.0.1:5080:5005"
    volumes:
      - ./docker/uid2-operator/conf/default-config.json:/app/conf/default-config.json
      - ./docker/uid2-operator/conf/local-e2e-docker-config.json:/app/conf/local-config.json
    depends_on:
      core:
        condition: service_healthy
      optout:
        condition: service_healthy
    healthcheck:
      test: wget --tries=1 --spider http://localhost:8080/ops/healthcheck || exit 1
      interval: 5s
    networks:
      - e2e_default

networks:
  e2e_default:
    external: true
    driver: bridge
